// link with arrow
.cs_arrow_link i {
  font-size: 12px;
  margin-left: 3px;
}
/*---------------------------------------------
  # home page 1
---------------------------------------------*/

/*---------------------------------------------
  # home page 2
---------------------------------------------*/
// best_selling_product
.cs_best_selling.cs_style1 {
  .cs_best_selling_info {
    padding-left: 20px;
    line-height: 20px;
  }
  .cs_best_selling_subtitle {
    margin-bottom: 7px;
  }
  .cs_best_selling_title {
    margin-bottom: 25px;
  }
}
// tranding_banner
.cs_tranding.cs_style1 {
  text-align: center;
  padding: 35px 20px;
  height: 100%;
  .cs_tranding_offer_box {
    margin-bottom: 8px;
    .cs_tranding_offer {
      height: 125px;
      width: 125px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .cs_tranding_title {
    margin-bottom: 0.2px;
  }
  .cs_tranding_subtitle {
    margin-bottom: 12.5px;
  }
  .cs_tranding_coupone_code {
    padding: 8px 42px;
    outline: 1px dashed #fff;
    display: inline-flex;
    margin-bottom: 17px;
  }
}

//new_arrival_banner
.cs_new_arrival_banner.cs_style1 {
  background-color: $light-gray2;
  padding: 15px;
  padding-top: 25px;
  height: 100%;
  .cs_new_arrivel_title {
    line-height: 1;
    margin-bottom: 3px;
    .cs_accent_color2 {
      margin-right: 10px;
    }
  }
  .cs_new_arrivel_countdown_box {
    height: 75px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .cs_countdown_title{
    margin-bottom: 5px;
  }
}

/*---------------------------------------------
  // home page 2
---------------------------------------------*/
.cs_single_banner.cs_home_3.cs_banner_1 {
  height: 408px;
  display: flex;
  padding-left: 50px;
  align-items: center;
  .cs_banner_content {
    p {
      line-height: 150%;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      font-size: 32px;
      line-height: 140%;
      margin-bottom: 25px;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      color: $primary;
      // font-size:;
      i {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
}

.cs_site_banner {
  .cs_home_4 {
  }
}
