// link with arrow
.st_arrow_link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: $primary;
  i {
    font-size: 12px;
    margin-left: 3px;
  }
}
//product heading
.st_section_heading {
  display: flex;
  justify-content: space-between;
  color: $primary;
  border-bottom: 1px solid rgba($primary, 0.1);
  padding-bottom: 10px;
  margin-bottom: 20px;
  div {
    font-size: 26px;
    font-weight: 600;
  }
}

// home 1
.st_features_product.st_home1 {
  .container {
    padding: 50px;
    background-color: $gray3;
    padding-bottom: 25px;
  }
  .st_features_product_banner {
    h2 {
      font-size: 48px;
    }
  }
}

// home page 2 three_banner
.st_single_banner_three {
  position: relative;
  overflow: hidden;
  .st_banner_three_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px;
    .st_caption {
      font-weight: 600;
      font-size: 18px;
    }
    span {
      color: rgba(241, 71, 5, 0.5);
      text-decoration: line-through;
      margin-right: 3px;
    }
    .st_btn {
      padding: 11px 26px;
      margin-top: 15px;
    }
  }
}

//home page 2best_selling_product
.st_best_selling_product .container .max_container {
  background-color: $gray3;
  padding: 30px 50px;
}

.st_best_selling_product .st_best_selling_text {
  h2 {
    font-size: 38px;
    font-weight: 600;
  }
}

// home page 2 tranding_banner
.st_tranding_banner {
  text-align: center;
  padding: 35px 20px;
  border-radius: 5px;
  .st_discount_text {
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
    color: #fff;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 8px;
    p {
      margin: 0;
      font-weight: 700;
      span {
        font-size: 30px;
      }
    }
  }
  h2 {
    font-size: 32px;
  }
  .st_coupone_code {
    padding: 8px 42px;
    outline: 1px dashed #fff;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    color: $primary;
  }
  a {
    color: $primary;
  }
}

// home page 2 new_arrival_banner
.st_new_arrival_banner {
  background-color: $gray3;
  padding: 20px;
  text-align: center;
  h3 {
    font-size: 32px;
    line-height: 120%;
    span {
      font-size: 52px;
      color: $red;
    }
  }
  h4 {
    font-size: 22px;
    font-weight: 400;
  }
  .st_countdown {
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #fff;
    color: $red;
    display: inline-block;
    text-align: center;
    .st_time {
      font-size: 32px;
      font-weight: 600;
    }
  }
}

// home page 3
.st_single_banner.st_home_3.st_banner_1 {
  height: 408px;
  display: flex;
  padding-left: 50px;
  align-items: center;
  .st_banner_content {
    p {
      line-height: 150%;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2 {
      font-size: 32px;
      line-height: 140%;
      margin-bottom: 25px;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      color: $primary;
      // font-size:;
      i{
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
}


.st_site_banner{
  .st_home_4{
    
  }
}