.st_addtocart_btn{
  text-align: center;
  display: block;
  font-size: 14px;
  color: $primary;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-decoration: none;
  background-color: $gray3;
  font-weight: 600 !important;
}
.st_addtocart_btn.st_style1{
  font-family: $font1;
}
.st_addtocart_btn.st_style2{
  font-family: $font2;
}

.st_btn.st_style1,
.st_btn.st_style2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 11px 34px;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-decoration: none;
}
.st_btn.st_style1 {
  font-weight: 600;
}
.st_btn.st_style2 {
  font-weight: 500;
}

.st_btn.st_style1.st_color1 {
  color: $primary;
  background-color: $yellow;
}
.st_btn.st_style2.st_color2 {
  color: #fff;
  background-color: $blue;
}

.st_btn.st_style1:hover,
.st_btn.st_style2:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px 0px rgba(68, 68, 68, 0.1);
}
