// home 2 
.st_cart.st_style1 {
  height: 325px;
  .st_cart_info {
    padding-left: 22px;
  }
  .st_cart_subtitle {
    line-height: 20px;
    margin-bottom: 5px;
  }
  .st_cart_title {
    line-height: 130%;
    margin-bottom: 10px;
  }
  .st_btn {
    line-height: 20px;
  }
}