// home 2 
.cs_cart.cs_style1 {
  height: 325px;
  .cs_cart_info {
    padding-left: 25px;
  }
  .cs_cart_subtitle {
    line-height: 120%;
    margin-bottom: 5px;
  }
  .cs_cart_title {
    line-height: 130%;
  }
}