// catagory product
.st_single_catagory {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  .st_catagory_content {
    color: $primary;
    display: block;
    text-decoration: none;
    text-align: center;
    img {
      margin-bottom: 15px;
    }
    h6 {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
@media screen and (max-width: 767px) {
  .st_catagory_content {
    img {
      display: block;
      margin: auto;
      width: 100%;
    }
  }
}
