//
.st_cta_section.st_style1 {
  position: relative;
  height: 590px;
  .st_cta_content_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      130.76deg,
      $light-gray2 52.92%,
      rgba(0, 0, 0, 0) 52.96%
    );
  }
  .st_cta_content_in {
    display: flex;
    align-items: center;
  }
  .st_cta_title {
    line-height: 120%;
  }
  .st_cta_countdown_title {
    line-height: 120%;
    margin: 0;
  }
  .st_cta_countdown_time {
    line-height: 100%;
  }
  .st_btn {
    line-height: 20px;
  }
  .st_cta_offer_info {
    height: 190px;
    width: 190px;
    margin: 0;
  }
}
