//
.cs_cta_section.cs_style1 {
  position: relative;
  height: 590px;
  .cs_cta_content_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      130.76deg,
      $light-gray2 52.92%,
      rgba(0, 0, 0, 0) 52.96%
    );
  }
  .cs_cta_content_in {
    display: flex;
    align-items: center;
  }
  .cs_cta_title {
    line-height: 120%;
  }
  .cs_cta_countdown_title {
    line-height: 120%;
    margin: 0;
  }
  .cs_cta_countdown_time {
    line-height: 100%;
  }
  .cs_btn {
    line-height: 20px;
  }
  .cs_cta_offer_info {
    display: flex;
    height: 190px;
    width: 190px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
