//
.st_cta_section.st_style2 {
  display: flex;
  align-items: center;
  position: relative;
  height: 590px;
  .st_content_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      130.76deg,
      $light-gray2 52.92%,
      rgba(0, 0, 0, 0) 52.96%
    );
  }
  .st_cta_content {
    display: flex;
    align-items: center;
    .st_text {
      color: $primary;
      h2 {
        font-size: 52px;
        font-family: 'Work Sans';
      }
      .st_countdown {
        h3 {
          font-weight: 400;
          font-size: 32px;
          line-height: 120%;
          margin-bottom: 0;
        }
        & > div {
          font-weight: 600;
          font-size: 56px;
          line-height: 100%;
        }
      }
    }
    .st_circle {
      height: 190px;
      width: 190px;
      margin-left: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      h2 {
        font-size: 42px;
        color: $red;
        margin-bottom: 0;
        span {
          font-size: 72px;
        }
      }
    }
  }
}
