.cs_site_footer {
  img {
    height: initial;
    width: initial;
  }


  //footer links
  .cs_footer_menu {
    h4 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    ul li {
      margin-bottom: 5px;
      &:last-child {
        margin: 0;
      }
      a {
        text-decoration: none;
        transition: 0.3s;
      }
      & a:hover {
        text-decoration: underline;
      }
    }

    &.cs_popular_tag {
      li {
        display: inline-block;
        background-color: $light-gray2;
        margin-bottom: 10px;
        margin-right: 5px;
        border-radius: 3px;
        a {
          padding: 0px 12px;
          display: inline-block;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .cs_condition {
    li {
      display: inline-block;
      margin-right: 25px;
      &:last-child {
        margin: 0;
      }
      &:hover a {
        text-decoration: underline;
      }
      a {
        text-decoration: none;
      }
    }
  }
  //social links
  .cs_social_links {
    li {
      display: inline-block;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 40px;
      border-radius: 3px;
      background-color: $light-gray2;
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
      a {
        font-size: 20px;
        transition: 0.3s;
        display: block;
      }
      &:nth-child(1) {
        &:hover {
          color: #4267b2;
        }
      }
      &:nth-child(2) {
        &:hover {
          color: #00acee;
        }
      }
      &:nth-child(3) {
        &:hover {
          color: #d6249f;
        }
      }
      &:nth-child(4) {
        &:hover {
          color: #ff0000;
        }
      }
      &:nth-child(5) {
        &:hover {
          color: #25d366;
        }
      }
      &:nth-child(6) {
        &:hover {
          color: #005b8e;
        }
      }
    }
  }
  @media only screen and (max-width: 1400px) {
    .cs_social_links li {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  //copy right
  .cs_footer_bottom {
    padding: 25px;
    text-align: center;
  }
  //footer contact
  .cs_footer_contact.cs_style1,
  .cs_footer_contact.cs_style2{
    li {
      margin-bottom: 18px;
      &:last-child {
        margin: 0;
      }
      .cs_contact_elements {
        display: inline-flex;
        img {
          margin-right: 15px;
        }
        p {
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          span {
            color: $primary;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .cs_footer_right {
    margin-left: -50px;
  }
  @media only screen and (max-width: 1200px) {
    .cs_footer_right {
      margin: 0;
    }
  }
}

.cs_site_footer.cs_style2 {
  background-color: #fff;
}
// home page 3
.cs_subscribe_and_footer{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(176.82deg, rgba(196, 196, 196, 0) 7.79%, #C4C4C4 100.06%);
}