// @import "url('../../../../css/all.min.css";
.cs_site_header {
  position: relative;
  z-index: 101;
}

.cs_site_branding {
  display: inline-block;
  img {
    max-height: 45px;
  }
}

.cs_site_header.cs_style1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
  .cs_main_header_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90px;
    position: relative;
  }
  &.cs_sticky_active {
    background-color: $white;
    box-shadow: 0 10px 10px -10px rgba(33, 43, 53, 0.1);
  }
}

.cs_site_header_full_width .container {
  max-width: 100%;
  padding: 0 50px;
}

.cs_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cs_site_header.cs_sticky_header {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1200px) {
  .cs_main_header {
    position: relative;
  }

  .cs_main_header_center {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-item-has-children {
    position: relative;
  }

  .cs_nav {
    display: flex;
    align-items: center;
    height: 100%;
    .cs_nav_list {
      display: flex !important;
      flex-wrap: wrap;
      height: inherit;

      > li {
        margin-right: 35px;
        height: inherit;
        &:last-child {
          margin-right: 0;
        }
        &.menu-item-has-children::after {
          content: "\f107";
          font-family: FontAwesome;
          margin-left: 5px;
          // font-size: 16px;
          // position: absolute;
          // top: 50%;
          // left: 100%;
          // transform: translateY(-50%);
        }

        > a {
          padding: 10px 0;
          display: inline-flex;
          position: relative;
          height: inherit;
          align-items: center;
        }

        > ul {
          left: 0;
          top: calc(100% + 15px);
        }

        &:hover {
          > ul {
            top: 100%;
            opacity: 1;
            visibility: visible;
            transition: all 0.4s ease;
          }
        }
      }

      ul {
        width: 245px;
        background-color: #fff;
        position: absolute;
        background-color: $white;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 10px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        display: block !important;
        transition: all 0.1s ease;
        li {
          line-height: 230%;
          &:hover {
            ul {
              top: 0px;
            }

            > ul {
              opacity: 1;
              visibility: visible;
              transition: all 0.4s ease;
            }
          }
        }

        a {
          font-size: 90%;
          display: block;
          line-height: 1.5em;
          padding: 12px 20px;
        }

        ul {
          top: 15px;
          left: 100%;
        }
      }
    }
  }
  .cs_menu_toggle,
  .cs_menu_dropdown_toggle {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .cs_site_header.cs_style1 {
    .cs_nav {
      display: flex;
    }
    .cs_main_header_right {
      padding-right: 50px;
    }
  }
  .cs_menu_dropdown_toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 5px;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 10px;
      background-color: $secondary;
      transition: all 0.3s ease;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &.active {
      &:before {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  .cs_nav {
    .cs_nav_list {
      position: absolute;
      width: 100%;
      left: 0px;
      background-color: $white;
      padding: 10px 0;
      display: none;
      top: 100%;
      border-top: 1px solid;
      border-bottom: 1px solid;
      overflow: auto;
      max-height: calc(100vh - 80px);
      font-size: 16px;
      line-height: 1.6em;

      ul {
        padding-left: 15px;
        display: none;
      }

      a {
        display: block;
        padding: 8px 20px;
      }
    }

    .menu-item-has-children {
      position: relative;
    }
  }

  /*Mobile Menu Button*/
  .cs_menu_toggle {
    display: inline-block;
    width: 32px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 30px;

    span,
    span:before,
    span:after {
      width: 100%;
      height: 3px;
      background-color: $primary;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: "";
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: "";
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }

  .cs_site_header.cs_style1 .cs_menu_toggle {
    top: 50%;
    right: 0px;
    margin-top: -13px;
  }

  .cs_toggle_active {
    span {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }

  .cs_nav .cs_nav_list a {
    position: relative;
  }

  .cs_site_header.cs_style1 .cs_main_header_in {
    height: 80px;
  }

  .cs_site_header .current-menu-item > a:before {
    display: none;
  }
  .cs_site_branding img {
    height: 35px;
  }
  .cs_site_header.cs_style1 .cs_main_header_center {
    .cs_site_branding {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 991px) {
  .cs_site_header .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
}
