// home page 3
.st_section_heading_text.st_style2 {
  text-align: center;
  h2 {
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 5px;
  }
  p {
    font-size: 18px;
    line-height: 150%;
    color: $primary;
  }
}

.st_product_section_heading_text.st_style2 {
}
.st_product_heading {
  text-align: center;
  h2 {
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 5px;
  }
  p {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 0;
  }
}
