.st_hero{
  .st_single_slider{
    height: 725px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .st_hero_content{
    h1{
      font-size: 62px;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 25px;
    }
    p.st_style2{
      color: $primary;
    }
  }
      .st_hero_content.st_style3{
    .st_caption{
      display: inline-block;
      padding: 0 15px;
      background-color: $light-gray2;
      color: rgba($primary, 0.7);
    }
    h1{
      font-size: 52px;
    }
  }
}