.st_hero{
  .st_hero_slider.st_home2{
    height: 725px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .st_hero_content{
    h1{
      font-size: 62px;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 25px;
    }
    p.st_style2{
      color: $primary;
    }
  }
      .st_hero_content.st_style3{
    .st_caption{
      display: inline-block;
      padding: 0 15px;
      background-color: $light-gray2;
      color: rgba($primary, 0.7);
    }
    h1{
      font-size: 52px;
    }
  }
}
.slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  border: none;
  content: "";
}
.slick-prev{
  left:50px;
  z-index: 111;
}
.slick-next{
  right: 50px;
}