.cs_hero.cs_style1 {
  height: 725px;
  .cs_hero_subtitle{
    margin-bottom: 5px;
    line-height: 20px;
  }
  .cs_hero_title{
    margin-bottom: 20px;
    line-height: 110%;
  }
  .cs_hero_paragraph{
    margin-bottom: 25px;
  }
}
