.st_service.st_style1{
  height: 116px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.st_iconbox{
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}
.st_service_info{
  h2{
    line-height: 150%;
    margin-bottom: 1px;
  }
  p{
    line-height: 150%;
    margin: 0;
  }
}