// product menu
.st_product_menu.st_style1,
.st_product_menu.st_style2 {
  ul {
    border-bottom: 1px solid rgba($primary, 0.1);
    margin-bottom: 25px;
    li {
      display: inline-block;
      margin-right: 50px;
      font-weight: 600;
      padding-bottom: 15px;
      border-bottom: 1px solid transparent;
      transform: translateY(1px);
      &:last-child {
        margin: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.st_product_menu.st_style2 {
  ul {
    text-align: center;
    li {
      &.active,
      &:hover {
        color: $primary;
        border-bottom: 1px solid $blue;
      }
    }
  }
}
// home page 3 tab menu
.st_product_menu.st_style3{
  text-align: center;
  h2{
    font-size: 32px;
    margin-bottom: 20px;
  }
  ul{
    margin-bottom: 50px;
    li{
      display: inline-block;
      margin-right: 30px;
      a{
        text-decoration: none;
      }
      &.active{
        font-weight: 700;
        color: $primary;
      }
    }
  }
}