// newsletter text
.cs_newsletter_content.cs_home3{
  h2{
    margin-bottom: 15px;
  }
}
// newsletter form
.cs_newsletter {
  .cs_newsletter_form{
    display: inline-flex;
    input{
      margin-right: 15px;
      border: none;
      padding-left:30px;
      border-radius: 5px;
    }
    //home 2
    input.cs_home2{
      background-color: $light-gray1;
      min-width: 250px;
    }
    // home 3
    input.cs_home3{
      background-color: $light-gray1;
      width: 600px;
    }
    @media only screen and (max-width:991px){
      input.cs_home3{
        width: 400px;
      }
    }
    @media only screen and (max-width:767px){
      input.cs_home3{
        width: 270px;
      }
    }
  }
}
