.st_single_product {
  background-color: #fff;
  display: block;
  border-radius: 6px 6px 0 0;
  transition: 0.3s;
  overflow: hidden;
  // product top content
  .st_product_top img {
    transition: 0.3s;
  }
  .st_product_top_in.st_style1,
  .st_product_top_in.st_style2,
  .st_product_top_in.st_style3 {
    position: relative;
    transition: inherit;
    overflow: hidden;
    ul {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      li {
        display: inline-block;
        height: 38px;
        width: 38px;
        text-align: center;
        line-height: 38px;
        background-color: $yellow;
        border-radius: 50%;
        margin-right: 10px;
        transition: inherit;
        &:last-child {
          margin: 0;
        }
        &:hover {
          transform: translateY(-3px);
        }
        a {
          display: block;
          color: #fff;
        }
      }
    }
  }
  .st_product_top_in.st_style2 ul li {
    background-color: $blue;
  }
  .st_product_top.st_style2 {
    position: relative;
    transition: inherit;
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba($primary, 0.32);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: inherit;
    }
  }
  // home page 3
  .st_product_top_in.st_style3{
    ul{
      top: calc(50% - 20px);
      left: 110%;
      li{
        display: inline-block;
        border-radius: 0;
        background-color: #fff;
        margin-bottom: 10px;
        border: 1px solid $light-gray2;
        a{
          color: $primary;
        }
        &:hover {
          background-color: $gray1;
          a{
            color: #fff;
          }
        }
      }
    }
  }

  //product bottom content
  .st_product_bottom.st_style1,
  .st_product_bottom.st_style2,
  .st_product_bottom.st_style3 {
    transition: inherit;
    padding: 20px;
    .st_product_name {
      text-decoration: none;
      color: $primary;
      margin-bottom: 7px;
      display: block;
    }
    .st_product_caption {
      margin-bottom: 2px;
    }
    .st_ratting li {
      display: inline-block;
      margin-bottom: 2px;
      a {
        color: gold;
        font-size: 14px;
      }
      &:last-child {
        margin: 0;
        a {
          color: $light-gray2;
        }
      }
    }
    .st_price {
      font-size: 16px;
      font-weight: 600;
      color: $primary;
      margin-bottom: 9px;
      span {
        font-size: 14px;
        font-weight: 400;
        color: $secondary;
        text-decoration: line-through;
      }
    }
  }
  .st_product_bottom.st_style3{
    text-align: center;
    color: #303030;
    padding: 20px 10px;
    .st_product_name{
      font-size: 18px;
    }
    .st_price{
      margin: 0;
      font-size: 18px;
      span{
        font-size: 16px;
      }
    }
  }

  .st_product_bottom.st_style1 {
    .st_product_name:hover {
      color: $yellow;
    }
  }
  .st_product_bottom.st_style2 {
    .st_product_name {
      font-size: 20px;
      &:hover {
        color: $blue;
      }
    }
  }
 

  // label tag
  label.st_style1,
  label.st_style2 {
    color: #fff;
    padding: 3px 15px;
    line-height: 1;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
  }
  label.st_style1.st_color1 {
    background-color: $red;
    border-radius: 0 3px 3px 0;
  }
  label.st_style2.st_color2 {
    background-color: $red;
    margin-left: 10px;
  }
  label.st_style2.st_color3 {
    border-radius: 0;
    background-color: #303030;
    margin-left: 10px;
  }
}

// product hover
.st_single_product {
  &:hover {
    box-shadow: 0 8px 8px rgba($primary, 0.05);
    transform: translateY(-5px);
  }
  &:hover .st_product_top.st_style2::before,
  &:hover .st_product_top_in.st_style1 ul,
  &:hover .st_product_top_in.st_style2 ul,
  &:hover .st_product_top_in.st_style3 ul {
    opacity: 1;
    visibility: visible;
  }
  // hover style1
  &:hover .st_product_top_in.st_style1 ul {
    top: 70%;
  }
  // hover style2
  &:hover .st_product_top_in.st_style2 ul {
    top: 50%;
  }
  // hover style3
  &:hover .st_product_top_in.st_style3 ul{
    left: calc(85%);
  }  
  &:hover .st_addtocart_btn.st_style1 {
    background-color: $yellow;
  }
  &:hover .st_addtocart_btn.st_style2 {
    background-color: $blue;
    color: #fff;
  }
  &:hover .st_product_top img {
    transform: scale(1.1);
  }
}
