.st_product_container.st_style1{
  background-color: $light-gray2;
  padding: 50px;
}
.st_product_container.st_style2{
  background-color: $light-gray2;
  padding: 30px;
}

//product label text
.st_label {
  color: #fff;
  padding: 3px 15px;
  display: inline-block;
  position: relative;
  z-index: 999;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}

.st_accent_bg2 {
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  padding: 0 15px;
}

// product
.st_product.st_style2 {
  background-color: #fff;
  display: block;
  border-radius: 6px;
  transition: all 0.3s ease;
  overflow: hidden;
  .st_product_thumb {
    height: 265px;
    padding: 15px;
    border-radius: inherit;
    position: relative;
    display: block;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background: #010A44;
      border-radius: 6px 6px 0px 0px;
      z-index: 2;
      opacity: 0;
      transition: inherit;
    }
  }
  .st_product_in {
    position: relative;
    overflow: hidden;
  }
  .st_product_icon_btns {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    z-index: 3;
    opacity: 0;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      margin: 7px;
    }
  }
  .st_accent_bg2 {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
  }
  .st_product_btn {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 3px;
  }
  .st_product_info {
    padding: 15px 20px 20px;
  }
  .st_product_price {
    font-size: 16px;
    margin-bottom: 12px;
    span {
      margin-left: 5px;
      font-size: 14px;
      font-weight: 400;
      color: $secondary;
      text-decoration: line-through;
    }
  }
  .st_product_title {
    font-size: 20px;
    margin-bottom: 2px;
  }

  &:hover {
    .st_product_thumb {
      &::before {
        opacity: 0.32;
      }
    }
    .st_product_icon_btns {
      top: 50%;
      opacity: 1;
    }
  }
}












.st_product.st_style1 {
  background-color: #fff;
  display: block;
  border-radius: 6px;
  transition: 0.3s;
  overflow: hidden;
  &:hover{
    transform: translateY(-5px);
    box-shadow: 0 3px 5px 5px rgba($primary,0.05);
  }
  //product top common style
  img {
    transition: inherit;
  }
  &:hover img {
    transform: scale(1.07);
  }
  .st_product_top {
    position: relative;
    transition: inherit;
    overflow: hidden;
    .st_product_link {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  .st_product_top_in {
    position: relative;
    transition: inherit;
    overflow: hidden;
    ul {
      position: absolute;
      transition: inherit;
      z-index: 111;
      li {
        display: inline-block;
        height: 38px;
        width: 38px;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        margin-right: 10px;
        transition: inherit;
        &:last-child {
          margin: 0;
        }
        &:hover {
          transform: translateY(-3px);
        }
        a {
          display: block;
          color: #fff;
        }
      }
    }
  }
  //product bottom common style
  .st_product_bottom {
    transition: inherit;
    padding: 20px;
    .st_product_name {
      text-decoration: none;
      color: $primary;
      margin-bottom: 7px;
    }
    .st_price {
      font-size: 16px;
      font-weight: 600;
      color: $primary;
      margin-bottom: 9px;
      span {
        margin-left: 5px;
        font-size: 14px;
        font-weight: 400;
        color: $secondary;
        text-decoration: line-through;
      }
    }
    .st_addtocart_btn {
      font-weight: 600;
      font-size: 14px;
    }
  }

  /*----------------------------------
        #.Product style 1
  -----------------------------------*/
  .st_product_top.st_style1 {
    .st_label {
      background-color: $red;
      border-radius: 0 3px 3px 0;
    }
    .st_product_top_in ul {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      li {
        background-color: $yellow;
      }
    }
  }
  .st_product_bottom.st_style1 {
    .st_product_name {
      font-size: 16px;
      &:hover {
        color: $yellow;
      }
    }
    .st_product_caption {
      margin-bottom: 2px;
    }
    .st_ratting li {
      display: inline-block;
      margin-bottom: 2px;
      a {
        color: gold;
        font-size: 14px;
      }
      &:last-child {
        margin: 0;
        a {
          color: $light-gray2;
        }
      }
    }
    .st_addtocart_btn {
      line-height: 16px;
    }
  }
  /*----hover style 1----*/
  &:hover .st_product_bottom.st_style1 .st_addtocart_btn {
    background-color: $yellow;
    &:hover {
      color: #fff;
    }
  }
  &:hover .st_product_top.st_style1 .st_product_top_in ul {
    top: 70%;
  }

  /*----------------------------------
        #.Product style 2
  -----------------------------------*/
  .st_product_top.st_style2 {
    .st_product_link {
      background-color: rgba($primary, 0.32);
      opacity: 0;
    }
    .st_label {
      background-color: $red;
      margin-left: 10px;
      border-radius: 3px;
    }
    .st_product_top_in ul {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      li {
        background-color: $blue;
      }
    }
  }
  .st_product_bottom.st_style2 {
    .st_product_name {
      font-size: 20px;
      &:hover {
        color: $blue;
      }
    }
    .st_addtocart_btn {
      line-height: 18px;
    }
  }
  /*----hover style 2----*/
  &:hover .st_product_top.st_style2 .st_product_top_in ul {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:hover .st_product_top.st_style2 .st_product_link {
    opacity: 1;
  }
  &:hover .st_product_bottom.st_style2 .st_addtocart_btn {
    background-color: $blue;
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
}
// .st_product_top_in.st_style1 ul li {
//   background-color: $yellow;
// }
// .st_product_top_in.st_style3 ul {
//   top: calc(50% - 20px);
//   left: 110%;
//   li {
//     border-radius: 0;
//     background-color: #fff;
//     margin-bottom: 10px;
//     border: 1px solid $light-gray2;
//     a {
//       color: $primary;
//     }
//     &:hover {
//       background-color: $gray1;
//       a {
//         color: #fff;
//       }
//     }
//   }
// }

// .st_product_bottom.st_style3 {
//   text-align: center;
//   color: #303030;
//   padding: 12px 10px;
//   .st_product_name {
//     font-size: 18px;
//   }
//   .st_price {
//     margin: 0;
//     font-size: 18px;
//     span {
//       font-size: 16px;
//     }
//   }
// }

// .st_product_bottom.st_style1 {
//   .st_product_name:hover {
//     color: $yellow;
//   }
// }
