.cs_testmonial {
  .cs_testmonial_content {
    // home page 3 content
    .cs_testmonial_profile.cs_style2 {
      text-align: center;
      background-color: #fff;
      padding: 50px 30px;
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid $primary;
        margin-bottom: 15px;
      }
      .cs_name {
        line-height: 150%;
        color: $primary;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .cs_designation {
        line-height: 150%;
        margin-bottom: 30px;
      }
      .cs_ratting {
        margin-bottom: 9px;
      }
      .cs_description{
        line-height: 27px;
      }
    }
  }
}
.cs_ratting{
  li{
    display: inline-block;
    margin-right: 3px;
    color: gold;
    &:last-child{
      margin: 0;
    }
  }
}
