/*
|--------------------------------------------------------------------------
| Theme Fonts
|-------------------------------------------------------------------------- */
@import "./default/variable";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*
|--------------------------------------------------------------------------
| Theme Color Variable primary, secondary, tertiary, quaternary, quinary
|-------------------------------------------------------------------------- */
$themePrimary: #010a44;
$themeSecondary: #707188;
$themeTernary: #f2f3f5;
$themeAccent: #4285f4;
$themeAccent2: #f25c05;

/*
|--------------------------------------------------------------------------
| Theme Spacial Style
|-------------------------------------------------------------------------- */

body,
.cs_secondary_font {
  color: $themeSecondary;
  font-family: "Quicksand", sans-serif;
}

.cs_primary_font,
h1,
h2,
h3,
h4,
h3,
h6 {
  color: $themePrimary;
  font-family: "Quicksand", sans-serif;
}

a {
  &:hover {
    color: $themeAccent;
  }
}

.cs_primary_color,
.cs_primary_color_hover:hover {
  color: $themePrimary;
}
.cs_secondary_color,
.cs_secondary_color_hover:hover {
  color: $themeSecondary;
}
.cs_ternary_color,
.cs_ternary_color_hover:hover {
  color: $themeTernary;
}
.cs_accent_color,
.cs_accent_color_hover:hover {
  color: $themeAccent;
}
.cs_accent_color2,
.cs_accent_color2_hover:hover {
  color: $themeAccent2;
}



.cs_accent_bg,
.cs_accent_bg_hover:hover {
  background-color: $themeAccent;
}
.cs_accent_bg2,
.cs_accent_bg2_hover:hover {
  background-color: $themeAccent2;
}
.cs_primary_bg,
.cs_primary_bg_hover:hover {
  background-color: $themePrimary;
}
.cs_secondary_bg,
.cs_secondary_bg_hover:hover {
  background-color: $themeSecondary;
}
.cs_ternary_bg,
.cs_ternary_bg_hover:hover {
  background-color: $themeTernary;
}

// Theme Spacific style
