/*
|--------------------------------------------------------------------------
| Theme Fonts
|-------------------------------------------------------------------------- */
@import "./default/variable";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*
|--------------------------------------------------------------------------
| Theme Color Variable
|-------------------------------------------------------------------------- */
$themePrimary: #010a44;
$themeSecondary: #707188;
$themeTernary: #f2f3f5;
$themeAccent: #4285f4;
$themeAccent2: #f25c05;

/*
|--------------------------------------------------------------------------
| Theme Spacial Style
|-------------------------------------------------------------------------- */

body,
.st_secondary_font {
  color: $themeSecondary;
  font-family: "Quicksand", sans-serif;
}

.st_primary_font,
h1,
h2,
h3,
h4,
h3,
h6 {
  color: $themePrimary;
  font-family: "Quicksand", sans-serif;
}

a {
  &:hover {
    color: $themeAccent;
  }
}

.st_primary_color,
.st_primary_color_hover:hover {
  color: $themePrimary;
}

.st_secondary_color,
.st_secondary_color_hover:hover {
  color: $themeSecondary;
}

.st_accent_color,
.st_accent_color_hover:hover {
  color: $themeAccent;
}

.st_red_color,
.st_red_color_hover:hover {
  color: $themeAccent2;
}

.st_accent_bg,
.st_accent_bg_hover:hover {
  background-color: $themeAccent;
}

.st_primary_bg,
.st_primary_bg_hover:hover {
  background-color: $primary;
}

.st_secondary_bg,
.st_secondary_bg_hover:hover {
  background-color: $themeAccent;
}

.st_ternary_bg,
.st_ternary_bg_hover:hover {
  background-color: $themeTernary;
}

// Theme Spacific style
.st_product_label {
  background-color: $themeAccent2;
}
