/*
|--------------------------------------------------------------------------
| Theme Fonts
|-------------------------------------------------------------------------- */
@import "./default/variable";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/*
|--------------------------------------------------------------------------
| Theme Color Variable
|-------------------------------------------------------------------------- */
$themePrimary: #010A44;
$themeSecondary:  #707188;
$themeAccent: #FFBD27;

/*
|--------------------------------------------------------------------------
| Theme Spacial Style
|-------------------------------------------------------------------------- */

body,
.st_secondary_font {
  font-family: 'Work Sans', sans-serif;
}

.st_primary_font,
h1,
h2,
h3,
h4,
h3,
h6 {
  font-family: 'Work Sans', sans-serif;
}

body,
.cs-secondary_color {
  color: $themeSecondary;
}
.st_product_container_in.st_style1{
  background-color: $light-gray2;
  padding: 50px;
  padding-bottom: 25px;
}