/*--------------------------------------------------------------
3. General Style
----------------------------------------------------------------*/
@media only screen and (min-width: 1400px) {
  .max_container {
    width: 100%;
    max-width: 1620px;
    margin: auto;
  }
}

body,
html {
  background-color: $light-gray1;
}
.cs_hidden {
  display: none;
}

//menu title
.cs_children_menu_title {
  padding-left: 20px;
  line-height: 230%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    left: 20px;
    bottom: 0;
  }
}
.cs_action{
  margin-left: 30px;
}
.cs_icon{
  position: relative;
}
.cs_toggle_btn{
  cursor: pointer;
}

.cs_cart_open.cs_cart_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1050;
}
.cs_toggle_body {
  width: 500px;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1050;
  background-color: #fff;
  display: none;
}
.cs_header_icons_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cs_header_icon_btn {
  position: relative;
  margin-left: 28px;
  &:hover {
    cursor: pointer;
  }
}
.cs_dropdown {
  position: relative;
}

.cs_notification {
  height: 16px;
  min-width: 16px;
  position: absolute;
  top: -15%;
  left: 60%;
}

.cs_phone_info {
  svg {
    margin-right: 5px;
  }
}

.cs_radius_3 {
  border-radius: 3px;
}
.cs_radius_5 {
  border-radius: 5px;
}
.cs_radius_10 {
  border-radius: 10px;
}
.cs_radius_50 {
  border-radius: 50%;
}

.cs_mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_hr_line {
  margin: 0;
  height: 1px;
  &.cs_style1 {
    background: #010a44;
    opacity: 0.1;
  }
}

.cs_in_flex{
  display: inline-flex;
}

.cs_jc_center{
  justify-content: center;
}

.cs_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_vertical_middle {
  display: flex;
  align-items: center;
  height: 100%;
  .cs_vertical_middle_in {
    width: 100%;
  }
}

.cs_bg {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.cs_sticky_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.cs_fixed_bg {
  background-attachment: fixed;
}
//subscribe
.cs_subscribe {
  display: inline-flex;
  input {
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

.cs_white_color,
.cs_white_color_hover:hover {
  color: #fff;
}
.cs_white_bg,
.cs_white_bg_hover:hover {
  background-color: #fff;
}
//start opacity
.cs_opacity_01 {
  opacity: 0.1;
}
.cs_opacity_02 {
  opacity: 0.2;
}
.cs_opacity_03 {
  opacity: 0.3;
}
.cs_opacity_04 {
  opacity: 0.4;
}
.cs_opacity_05 {
  opacity: 0.5;
}
.cs_opacity_06 {
  opacity: 0.6;
}
.cs_opacity_07 {
  opacity: 0.7;
}
.cs_opacity_08 {
  opacity: 0.8;
}
.cs_opacity_09 {
  opacity: 0.9;
}
// line height
.cs_line_height_px_20 {
  line-height: 20px;
}
.cs_line_height_percent_120 {
  line-height: 120%;
}
.cs_line_height_percent_130 {
  line-height: 130%;
}
//start typography
.cs_normal {
  font-weight: 400;
}
.cs_medium {
  font-weight: 500;
}
.cs_semibold {
  font-weight: 600;
}
.cs_bold {
  font-weight: 700;
}
.cs_font_12 {
  font-size: 12px;
}
.cs_font_14 {
  font-size: 14px;
}
.cs_font_16 {
  font-size: 16px;
}
.cs_font_18 {
  font-size: 18px;
}
.cs_font_20 {
  font-size: 20px;
}
.cs_font_22 {
  font-size: 22px;
}
.cs_font_26 {
  font-size: 26px;
}
.cs_font_30 {
  font-size: 30px;
}
.cs_font_32 {
  font-size: 32px;
}
.cs_font_38 {
  font-size: 38px;
}
.cs_font_42 {
  font-size: 42px;
}
.cs_font_52 {
  font-size: 52px;
}
.cs_font_56 {
  font-size: 56px;
}
.cs_font_62 {
  font-size: 62px;
}
.cs_font_72 {
  font-size: 72px;
}
// .cs_font_{
//   font-size: px;
// }
// .cs_font_{
//   font-size: px;
// }
// .cs_font_{
//   font-size: px;
// }
// .cs_font_{
//   font-size: px;
// }
// .cs_font_{
//   font-size: px;
// }
// .cs_font_{
//   font-size: px;
// }
