/*--------------------------------------------------------------
2. Spacing
----------------------------------------------------------------*/
.st_h_1{
  height: 1px;
}

@media screen and (min-width: 992px) {
  .st_h_0 {
    height: 0px
  }

  .st_h_5 {
    height: 5px
  }

  .st_h_10 {
    height: 10px
  }

  .st_h_15 {
    height: 15px
  }

  .st_h_20 {
    height: 20px
  }

  .st_h_25 {
    height: 25px
  }

  .st_h_30 {
    height: 30px
  }

  .st_h_35 {
    height: 35px
  }

  .st_h_40 {
    height: 40px
  }

  .st_h_45 {
    height: 45px
  }

  .st_h_50 {
    height: 50px
  }

  .st_h_55 {
    height: 55px
  }

  .st_h_60 {
    height: 60px
  }

  .st_h_65 {
    height: 65px
  }

  .st_h_70 {
    height: 70px
  }

  .st_h_75 {
    height: 75px
  }

  .st_h_80 {
    height: 80px
  }

  .st_h_85 {
    height: 85px
  }

  .st_h_90 {
    height: 90px
  }

  .st_h_95 {
    height: 95px
  }

  .st_h_100 {
    height: 100px
  }

  .st_h_105 {
    height: 105px
  }

  .st_h_110 {
    height: 110px
  }

  .st_h_115 {
    height: 115px
  }

  .st_h_120 {
    height: 120px
  }

  .st_h_125 {
    height: 125px
  }

  .st_h_130 {
    height: 130px
  }

  .st_h_135 {
    height: 135px
  }

  .st_h_140 {
    height: 140px
  }

  .st_h_145 {
    height: 145px
  }

  .st_h_150 {
    height: 150px
  }

  .st_h_155 {
    height: 155px
  }

  .st_h_160 {
    height: 160px
  }

  .st_h_165 {
    height: 165px
  }

  .st_h_170 {
    height: 170px
  }

  .st_h_175 {
    height: 175px
  }

  .st_h_180 {
    height: 180px
  }

  .st_h_185 {
    height: 185px
  }

  .st_h_190 {
    height: 190px
  }

  .st_h_195 {
    height: 195px
  }

  .st_h_200 {
    height: 200px
  }

  .st_h_205 {
    height: 205px
  }

  .st_h_210 {
    height: 210px
  }
}

@media screen and (max-width: 991px) {
  .st_h_lg_0 {
    height: 0px
  }

  .st_h_lg_5 {
    height: 5px
  }

  .st_h_lg_10 {
    height: 10px
  }

  .st_h_lg_15 {
    height: 15px
  }

  .st_h_lg_20 {
    height: 20px
  }

  .st_h_lg_25 {
    height: 25px
  }

  .st_h_lg_30 {
    height: 30px
  }

  .st_h_lg_35 {
    height: 35px
  }

  .st_h_lg_40 {
    height: 40px
  }

  .st_h_lg_45 {
    height: 45px
  }

  .st_h_lg_50 {
    height: 50px
  }

  .st_h_lg_55 {
    height: 55px
  }

  .st_h_lg_60 {
    height: 60px
  }

  .st_h_lg_65 {
    height: 65px
  }

  .st_h_lg_70 {
    height: 70px
  }

  .st_h_lg_75 {
    height: 75px
  }

  .st_h_lg_80 {
    height: 80px
  }

  .st_h_lg_85 {
    height: 85px
  }

  .st_h_lg_90 {
    height: 90px
  }

  .st_h_lg_95 {
    height: 95px
  }

  .st_h_lg_100 {
    height: 100px
  }

  .st_h_lg_105 {
    height: 105px
  }

  .st_h_lg_110 {
    height: 110px
  }

  .st_h_lg_115 {
    height: 115px
  }

  .st_h_lg_120 {
    height: 120px
  }

  .st_h_lg_125 {
    height: 125px
  }

  .st_h_lg_130 {
    height: 130px
  }

  .st_h_lg_135 {
    height: 135px
  }

  .st_h_lg_140 {
    height: 140px
  }

  .st_h_lg_145 {
    height: 145px
  }

  .st_h_lg_150 {
    height: 150px
  }

  .st_h_lg_155 {
    height: 155px
  }

  .st_h_lg_160 {
    height: 160px
  }

  .st_h_lg_165 {
    height: 165px
  }

  .st_h_lg_170 {
    height: 170px
  }

  .st_h_lg_175 {
    height: 175px
  }

  .st_h_lg_180 {
    height: 180px
  }

  .st_h_lg_185 {
    height: 185px
  }

  .st_h_lg_190 {
    height: 190px
  }

  .st_h_lg_195 {
    height: 195px
  }

  .st_h_lg_200 {
    height: 200px
  }

  .st_h_lg_205 {
    height: 205px
  }

  .st_h_lg_210 {
    height: 210px
  }
}
