// Site font
$primary_secondary: 'Work Sans', sans-serif; 
$secondary2: 'Quicksand', sans-serif;

// Font Color
$primary: #010A44;
$secondary: #707188;

// Gray Color 
$gray1: #707188;
$gray2: #F8FAFC;
$gray3: #F2F3F5;
$gray4: #303030;

// Accent color
$yellow: #FFBD27;
$red: #F25C05;
$blue: #4285F4;



