/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #000;
$primary: #010A44;
$secondary: #707188;
$gray1: #303030;
$light-gray1: #F8FAFC;
$light-gray2: #F2F3F5;

// Accent color
$yellow: #FFBD27;
$red: #F25C05;
$blue: #4285F4;



